.ability {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  grid-template-areas:
    "Name"
    "HoneLevel"
    "Attributes"
    "Notation";
  gap: 0.5rem;
  cursor: pointer;
  padding: 0.5rem;
  background-color: transparent !important;
  position: relative;
  border: 1px solid $body-color;

  @include media-breakpoint-up(sm) {
    grid-template-columns: 1fr max-content;
    grid-template-areas:
      "Name       HoneLevel"
      "Attributes Notation";
    gap: 0.5rem 1rem;
  }

  &:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  &:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  + .ability {
    margin-top: -1px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom right,
      var(--background-color-1) 50%,
      var(--background-color-2) 50%
    );
    opacity: 0.05;
    z-index: -1;
  }

  &:hover,
  &:focus,
  &:focus-within {
    &:before {
      opacity: 0.25;
    }
  }

  > * {
    display: flex;
    align-items: center;
  }
}

.ability__name {
  grid-area: Name;
  gap: 0.5rem;
}

.ability__hone-level {
  grid-area: HoneLevel;
}

.ability__attributes {
  grid-area: Attributes;
}

.ability__notation {
  grid-area: Notation;
}
