.action {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, max-content);
  grid-template-areas:
    "Name"
    "Tags"
    "Attribute"
    "Roll"
    "Buttons";
  cursor: pointer;
  padding: 0.5rem;
  background-color: transparent !important;
  position: relative;
  border: 1px solid $body-color;

  &:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  &:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  + .action {
    margin-top: -1px;
  }

  @include media-breakpoint-up(md) {
    grid-template-columns: 1fr max-content;
    grid-template-rows: repeat(4, max-content);
    grid-template-areas:
      "Name Name"
      "Tags Buttons"
      "Attribute Buttons"
      "Roll Buttons";
  }

  &__name,
  &__tags,
  &__attribute,
  &__roll {
    margin-bottom: 0.5rem;

    &:empty {
      margin-bottom: 0;
    }
  }

  &__name {
    grid-area: Name;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__tags {
    grid-area: Tags;
  }

  &__attribute {
    grid-area: Attribute;
  }

  &__roll {
    grid-area: Roll;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }

  &__buttons {
    grid-area: Buttons;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    @include media-breakpoint-up(md) {
      flex-direction: column;
    }
  }
}
